.contactUs {
  color: #3e3e3e;
  /* max-width: 600px; */
  width: 100%;
}
.contactUs__content {
  display: flex;
  width: 100%;
}
.contactUs__left {
  width: 55%;
  /* padding-right: 12px; */
  padding: 20px;
}
.contactUs__right {
  width: 45%;
  padding: 20px;
  background-color: #041562;
  color: #fff;
}
.contactUs__left--title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #041562;
}

.contactUS__right--title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #ffc600;
}

.contactUs form {
  text-align: center;
}

.contactUs form input {
  width: 100%;

  display: block;
  height: 30px;
  margin-bottom: 25px;
  border-bottom: 1px solid #3e3e3e;
}
.contactUs form input::placeholder {
  color: #989898;
  font-size: 17px;
  padding-left: 5px;
}
.contactUs form button {
  padding: 10px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #11468f;
}

.contactUS__right--item {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.contactUs__right--logo {
  margin-right: 10px;
}

/* ************************************* media 992px************************** */
/* @media (max-width: 992px) {
  .contactUs__left {
    display: none;
  }
  .contactUs__right {
    width: 100%;
  }
} */
