.header {
  margin-bottom: 30px;
}
.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  width: 60%;
  display: flex;
  justify-content: end;
}
.header__title h1 {
  cursor: pointer;
  color: #11468f;
  font-weight: 600;
  font-size: 24px;
}

.header__assets {
  width: 50%;
  display: flex;
  justify-content: end;
}
.header__assets ul {
  display: flex;
  align-items: center;
}
.header__assets ul li {
  display: flex;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;
}

.header__burger {
  display: none;
}
/* **************************** MEDIA QUERY *********************************************** */

/* --------------------------------------@media (max-width: 1200px)-------------------------- */

@media (max-width: 992px) {
  .header__burger {
    display: block;

    z-index: 5;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    display: block;
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.3s linear;
    background-color: #11468f;
    border-radius: 3px;
  }
  /* .header__burger::after {
    height: 1px;
  } */
  .header__burger::before,
  .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}
