.main {
  /* width: 85%; */
  width: 100%;

  font-family: "Inter", sans-serif;
  padding: 30px;
  background-color: #eeeeee;
}

/* **************************** MEDIA QUERY *********************************************** */

/* --------------------------------------@media (max-width: 992px)-------------------------- */
@media (max-width: 992px) {
  .main {
    padding: 10px;
  }
}
