.table {
  width: 100%;
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 10px;
}
.table__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.table__header--buttons {
  display: flex;
}
.table__header--buttons button {
  padding: 9px 40px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 8px;
}

.table__header--btn_sell {
  margin-right: 15px;
}
.table__header--btn_sell button {
  background-color: #ffc600;
  color: #11468f;
  transition: all 0.3s ease-in-out;
}
.table__header--btn_sell button:hover {
  background-color: #d6a800;
}
.table__header--btn_sell button:active {
  background-color: #fad75b;
}
.table__header--btn_notSell {
  margin-right: 15px;
}
.table__header--btn_notSell button {
  background-color: #a5a5a5;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.table__header--btn_notSell button:hover {
  background-color: #bbb7b7;
}
.table__header--btn_notSell button:active {
  background-color: #9b9999;
}


.table__header--btn_reset button{
	background-color: rgb(226, 226, 226);
	transition: all .3s ease-in-out;
}
.table__header--btn_reset button:hover{
	background-color: rgb(163, 163, 163);
}
.table__header--btn_reset button:active{
	background-color: rgb(73, 70, 70);
}


.table__header--middle span {
  color: #1d2746;
  font-weight: 600;
}

.table__header--years button {
  margin-right: 15px;
  padding: 9px 12px;
  border-radius: 8px;
  background-color: #fff;
  color: #1d2746;
  font-weight: 700;
  font-size: 12px;
}
.table__header--years button.active {
  padding: 9px 12px;
  color: #f6d912;
  background-color: #1d2746;
}
.table__header--years button:last-child {
  margin-right: 0;
}

/* ..................................... */

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.table__content {
  width: 100%;
  font-size: 12px;
  color: #030d2e;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.table_title {
  margin-bottom: 40px;
  text-align: center;
  /* padding: 5px; */
  width: 100%;
  border-radius: 8px;
}
.table__item .table_title.first {
  text-align: left;
  padding: 9px 10px 9px 5px;
  font-size: 12px;
  font-weight: 700;
  color: #030d2e;
}

.table_title button {
  /* margin-right: 15px; */
  padding: 9px 10px;
  border-radius: 8px;
  /* background-color: transparent; */
  background-color: #eeeeee;

  color: #1d2746;
  font-weight: 700;
  font-size: 12px;
}

.table_title._active button {
  /* padding: 9px 12px; */
  color: #f6d912;
  background-color: #1d2746;
}

.table__column {
  padding: 5px;
  border-radius: 10px;
  font-weight: 700;
}

.table__column .table__cell {
  margin-bottom: 30px;
  text-align: center;
}
.table__item:first-child .table__column .table__cell {
  text-align: left;
}
.table__item._active .table__column {
  background-color: #fce9a8;
}
.table__item .table__column._sold {
  background-color: #c5faa2;
}
.table__item .table__column .table__cell:last-child {
  margin-bottom: 0;
}
.table__column .table__cell:last-child {
  margin-bottom: 0;
}

.table_title--button._sold-btn {
  color: #12f64b;
  background-color: #1d2746;
}

.table__header--years--mobile {
  display: none;
}

/* **************************** MEDIA QUERY *********************************************** */

/* --------------------------------------max-width: 1200px-------------------------- */
@media (max-width: 1200px) {
  .table {
    padding: 20px 10px;
  }
  .table__header--buttons button {
    padding: 8px 30px;
    font-size: 10px;
  }
  .table__header--middle span {
    font-size: 14px;
  }
  .table__header--years button {
    padding: 6px 9px;
    font-size: 10px;
  }
  .table__header--years button.active {
    padding: 6px 9px;
    font-size: 10px;
  }
  /* ////////////////// */

  .table_title button {
    padding: 6px 7px;
    font-size: 10px;
  }
  .table__item .table_title.first {
    padding: 6px 7px;
    font-size: 10px;
  }
  .table__item {
    font-size: 10px;
  }
}

/* --------------------------------------max-width: 992px-------------------------- */

@media (max-width: 992px) {
}

/* --------------------------------------max-width: 768px-------------------------- */

@media (max-width: 768px) {
  .table__content {
    overflow-x: scroll;
  }
  .table__item:first-child .table__column .table__cell {
    white-space: nowrap;
  }
  .table_title button {
    white-space: nowrap;
  }

  .table__header--years {
    display: none;
  }
  .table__header--years--mobile {
    display: block;
  }
  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    font-size: 12px;
  }
  .MuiList-root {
    font-size: 12px;
  }
  /* .menuItem {
    font-size: 12px;
  } */
}

/* --------------------------------------max-width: 575px-------------------------- */

.table__mobileTotal {
  display: none;
}
@media (max-width: 575px) {
  .table__header--middle {
    display: none;
  }
  .table__mobileTotal {
    display: block;
    margin-bottom: 15px;

    font-size: 12px;
    color: #030d2e;
    font-weight: 600;
  }

  .table {
    padding: 10px 5px;
  }
  .table__header {
    margin-bottom: 0;
  }
  .table__header--buttons button {
    padding: 8px 30px;
    font-size: 10px;
  }
  .table__header--middle span {
    font-size: 12px;
  }

  .table_title {
    margin-bottom: 15px;
  }
}

/* ********************************** */

.table__content::-webkit-scrollbar {
  /* width: 2px; */
  height: 0px;
}

.table__content::-webkit-scrollbar-track {
  background: #dddbdb;
  /* width: 2px; */
  height: 0px;
}

.table__content::-webkit-scrollbar-thumb {
  /* width: 2px; */
  height: 0px;
}
