/* .sidebar {
  background-color: #041562;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.sidebar {
  background-color: #041562;
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  font-weight: 500;
  justify-content: space-between;

  width: 15%;
}

.sidebar__content {
}

.sidebar__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin: 30px 0;
}

.sidebar__list {
  padding-left: 30px;
}
.sidebar__list button {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 14px;
  color: #fff;
  margin-bottom: 40px;
  cursor: pointer;

  background: transparent;
}
.sidebar__list button img {
  margin-right: 10px;
}

.sidebar__footer ul {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-left: 30%;
}
/* .sidebar__footer ul li:first-child {
  font-size: 14px;
  font-weight: 700;
} */
.sidebar__footer ul li {
  margin-bottom: 15px;
  cursor: pointer;
}
.sidebar__footer p {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.sidebar__footer--img {
  display: flex;
  justify-content: center;
}

.sidebar .sidebar__mobileLogin {
  display: none;
}

/* **************************** MEDIA QUERY *********************************************** */

/* --------------------------------------@media (max-width: 1200px)-------------------------- */

@media (min-width: 992px) and (max-width: 1200px) {
  .sidebar__title {
    font-size: 12px;
    margin: 20px 0;
  }
  .sidebar__list button {
    font-size: 10px;
  }
  .sidebar__list {
    padding-left: 5px;
  }
}

/* --------------------------------------@media (max-width: 992px)-------------------------- */

@media (max-width: 992px) {
  .sidebar {
    width: 100%;
    height: 100vh;
  }
  .sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar__title {
    margin-left: 15px;
    font-size: 14px;
  }
  .sidebar__mobileLogin {
    display: block;
  }
  .header__burger--sidebar {
    /* display: none; */

    z-index: 5;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    display: block;

    margin-right: 15px;
  }

  .header__burger--sidebar span,
  .header__burger--sidebar::before,
  .header__burger--sidebar::after {
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.3s linear;
    background-color: #ffffff;
    border-radius: 3px;
  }
  /* .header__burger--sidebar::after {
    height: 1px;
  } */
  .header__burger--sidebar::before,
  .header__burger--sidebar::after {
    content: "";
  }
  .header__burger--sidebar::before {
    top: 0;
  }
  .header__burger--sidebar::after {
    bottom: 0;
  }
  .header__burger--sidebar span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger--sidebar._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger--sidebar._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger--sidebar._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  /* -------------------- */

  .sidebar__list {
    padding-left: 15px;
  }
}

/* --------------------------------------@media (max-width: 768px)-------------------------- */

@media (max-width: 768px) {
  .sidebar__list {
    padding-left: 35px;
  }
  .sidebar__list button {
    font-size: 16px;
  }
}

/* --------------------------------------@media (max-width: 575px)-------------------------- */

@media (max-width: 575px) {
  .sidebar__footer ul {
    /* margin-left: 30%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: unset;
    font-size: 14px;
    margin-top: 100px;
  }
  .sidebar__footer ul li:first-child {
    font-size: 18px;
  }
}
