.topCryptos__container {
  padding: 20px;
}

.topCryptos__content--title {
  font-size: 24px;
  color: #3e3e3e;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 20px;
}
.topCryptos__content--item {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #3e3e3e;
  cursor: pointer;
}
.topCryptos__content--item:first-child {
  font-weight: 900;
  color: #3e3e3e;
}
.topCryptos__content--item:nth-child(2n + 2) {
  background-color: rgb(219, 219, 219);
}
.topCryptos__content--item--left {
  width: 50%;
  display: flex;
  color: #3e3e3e;
  font-weight: 600;
  /* justify-content: space-between; */
}
.topCryptos__num {
  width: 30%;
  padding-left: 10px;
}
.topCryptos__nameS {
  width: 70%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.topCryptos__name {
  width: 50%;
  display: flex;
}
.topCryptos__img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.topCryptos__img img {
  width: 100%;
}

.topCryptos__content--item--right {
  width: 50%;
  display: flex;
}
.topCryptos__price {
  width: 33%;
}
.topCryptos__24h {
  width: 33%;
}
.topCryptos__24h.red {
  color: #ee3722;
  font-weight: 600;
}
.topCryptos__24h.green {
  color: #00ff15;
  font-weight: 600;
}
.topCryptos__marketCup {
  width: 33%;
}

/* *****************************************@media(max-width:768px)******************************** */

@media (max-width: 768px) {
  .topCryptos__content--title {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
  }
  .topCryptos__content--cryptos {
    overflow-x: scroll;
  }
}

/* *****************************************@media(max-width:575px)******************************** */
.topCryptos__content--cryptos.mobile {
  display: none;
}
@media (max-width: 575px) {
  .topCryptos__container {
    padding: 10px;
  }
  .topCryptos__content--cryptos.desktop {
    display: none;
  }
  .topCryptos__content--cryptos.mobile {
    display: block;
  }
  .topCryptos__content--item {
    padding: 15px 10px;
  }
  .topCryptos__content--item:first-child {
    /* white-space: nowrap; */
    font-weight: 600;
  }

  .topCryptos__content--item--left {
    display: block;
  }
  .topCryptos__content--item--right {
    display: block;
    text-align: end;
  }
  .topCryptos__leftTop {
    display: flex;
    margin-bottom: 8px;
  }
  .topCryptos__leftBottom {
    display: flex;
  }

  .topCryptos__symbol {
    margin-right: 15px;
  }

  .topCryptos__rightTop {
    margin-bottom: 8px;
  }
  .topCryptos__price {
    width: unset;
  }
  .topCryptos__marketCup {
    width: unset;
    font-size: 12px;
  }
}
