.htuAdmin {
  margin-top: 80px;
}
.htuAdmin__content {
  background-color: #fff;
  width: 60%;
  margin: 0 auto;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
}
.htuAdmin__title {
  text-align: center;
  color: #041562;
  font-size: 24px;
  font-weight: 700;
}
.htuAdmin__addEdit {
  text-align: center;
  padding-bottom: 30px;
  margin: 20px 0;
  border-bottom: 1px solid #3e3e3e;
}
.htuAdmin__addEdit button {
  padding: 10px 60px;
  margin: 0 10px;
  border-radius: 8px;
  font-size: 16px;
}

.htuAdmin__addEdit button:first-child {
  background-color: #11468f;
  color: #fff;
  font-weight: 700;
  transition: all 0.3s linear;
}

.htuAdmin__addEdit button:first-child:hover {
  background-color: #002558;
}

.htuAdmin__addEdit button:first-child:active {
  background-color: #3d80dd;
}

.htuAdmin__addEdit button:last-child {
  background-color: #ffc600;
  color: #fff;
  font-weight: 700;
  transition: all 0.3s linear;
}
.htuAdmin__addEdit button:last-child:hover {
  background-color: #fdc600;
}
.htuAdmin__addEdit button:last-child:active {
  background-color: #ecd78b;
}

.htuAdmin__content--content {
  width: 100%;
  display: flex;
}
.htuAdmin__content--left {
  width: 50%;
}
.htuAdmin__content--left .titleInput {
  display: block;
  margin-bottom: 30px;
  padding: 10px 5px;
  border: 1px solid #3e3e3e;
  width: 100%;
}
.htuAdmin__content--left .descriptionInput {
  display: block;
  padding: 10px;
  width: 100%;
  height: 200px;
  border: 1px solid #3e3e3e;
}

.htuAdmin__add button {
  padding: 8px 15px;
  color: #fff;
  font-weight: 700;
}
.htuAdmin__add button:first-child {
  background-color: #002558;
}
.htuAdmin__add button:last-child {
  background-color: #8b0000;
}

.htuAdmin__content--right {
  width: 50%;
  padding-left: 10px;
  text-align: center;
}

/* ******************************************@media (max-width: 992px)***************************** */
@media (max-width: 992px) {
  .htuAdmin__content--content {
    flex-direction: column;
  }
  .htuAdmin__content--left {
    width: 100%;
  }
  .htuAdmin__content--right {
    width: 100%;
    margin-top: 30px;
  }
  .htuAdmin__addEdit button {
    padding: 8px 50px;
  }
}

/* ******************************************@media (max-width: 768px)***************************** */

@media (max-width: 768px) {
  .htuAdmin__addEdit button {
    padding: 8px 25px;
    font-size: 14px;
  }
}

/* ******************************************@media (max-width: 575px)***************************** */

@media (max-width: 575px) {
  .htuAdmin__content {
    width: 90%;
    padding: 15px 20px;
  }
  .htuAdmin__addEdit button {
    padding: 8px 15px;
    font-size: 12px;
  }
}
