.admin {
  font-family: "Inter", sans-serif;
  margin-bottom: 100px;
  /* height: 100vh; */
}
.admin__container {
  padding: 30px;
}

.admin__header h2 {
  color: #11468f;
  /* color: #95afd3; */

  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}
.admin__selectYear {
}
.admin__content {
  width: 60%;
  height: 450px;
  overflow-y: scroll;
  padding: 30px 50px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}

.admin__contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(161, 161, 161);
}

.admin__productName {
  color: #ffc400;
  font-weight: 700;
  font-size: 20px;
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.admin__productName img {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.admin__deviceChanger button {
  padding: 9px 20px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 8px;

  background-color: #ffc600;
  color: #11468f;
  transition: all 0.3s ease-in-out;
}

.admin__deviceChanger button:hover {
  background-color: #d6a800;
}

.admin__deviceChanger button:active {
  background-color: #fad75b;
}

.admin__item.first {
  margin-top: 30px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;
}
/* .admin__item.first .admin__item--month {
  margin-left: 10px;
} */
.admin__item.first .admin__item--number {
  margin-right: 20px;
}
.admin__item {
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #11468f;
  font-weight: 600;
}
.admin__item--button {
  font-family: "Inter", sans-serif;
  padding: 5px 10px;
  /* background-color: rgb(155, 226, 114); */
  background-color: #83b7ff;

  /* background-color: transparent; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.admin__item--button:hover {
  background-color: #378aff;
}

.MuiFormControl-root {
  padding: 0;
  margin: 0;
}

/* **************************** MEDIA QUERY *********************************************** */

/* --------------------------------------@media (max-width: 992px)-------------------------- */

.header__burger {
  display: none;
}
@media (max-width: 992px) {
  .admin__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .admin__header h2 {
    margin-bottom: 0;
    margin-left: 40%;
  }
  .header__burger {
    display: block;

    z-index: 5;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    display: block;
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.3s linear;
    background-color: #11468f;
    border-radius: 3px;
  }
  /* .header__burger::after {
    height: 1px;
  } */
  .header__burger::before,
  .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  /* --------------------------------------------------------------- */

  .admin__content {
    width: 70%;
  }
}

/* --------------------------------------@media (max-width: 768px)-------------------------- */

@media (max-width: 768px) {
  .admin__content {
    width: 90%;
  }
}

/* --------------------------------------@media (max-width: 575px)-------------------------- */

.admin__selectYear.mobile {
  display: none;
}

@media (max-width: 575px) {
  .admin__header h2 {
    margin-left: 30%;
  }
  .admin__selectYear.dekstop {
    display: none;
  }
  .admin__selectYear.mobile {
    display: block;
  }
  .admin__container {
    padding: 20px;
  }
  .admin__content {
    width: 100%;
    padding: 20px;
  }

  .admin__productName {
    margin-right: 0;
    font-size: 14px;
  }
  .admin__productName img {
    width: 15px;
    height: 15px;
  }
  .admin__deviceChanger button {
    padding: 8px 15px;
  }

  .admin__months {
    font-size: 10px;
  }
}

.admin__content::-webkit-scrollbar {
  width: 3px;
  height: 0;
  background-color: rgb(255, 255, 255);
}
.admin__content::-webkit-scrollbar-thumb {
  width: 3px;
  height: 0;
  /* border-radius: 5px; */
  background: #11468f;
}
.admin__content::-webkit-scrollbar-track {
  height: 0;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  /* border-radius: 10px; */
  background-color: #f9f9fd;
}
