.test__container {
  max-width: 792px;
  margin: 0 auto;
  padding: 150px 0;
}

.test__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.test__img {
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s linear;
  width: 120px;
  /* height: 130px; */
}
.test__img:hover {
  transform: scale(1.3, 1.3);
}
.test__img:nth-child(odd) {
  padding-top: 80px;
}
.test__img:nth-child(2n + 1) {
  margin-right: 35px;
}

.test__img:nth-child(3n + 3) {
  margin-bottom: 50px;
  margin-left: 20px;
  width: 140px;
  height: 140px;
  /* width: 150px; */
}
.test__img img {
  width: 100%;
  object-fit: contain;
}
